.node-element {
    height: 55px;
}

.node-ui-elements {
    height: 2em;
    text-align: center;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

.node-ui-elements i {
    font-size: 1.2em;
}

.ui-tree {
    width: 100%;
}

.ui-treenode-content {
    background-color: red;
}


.ui-treenode-label {
    width: 100%;
}

.ui-tree .ui-tree-toggler {
    cursor: pointer;
    position: relative;
    float: right;
    vertical-align: top;
    background-color: blue;
}
